<!DOCTYPE html>
<html>
<body style="background-color:lightblue;">
<style>
label {
    width:280px;
    clear:left;
    text-align:left;
    padding-right:10px;
}

input, label, select {
    float:left;
}

input[type=submit] {
    width: 20em;  height: 2em;
    margin: auto
}

</style>
<h1 style="font-family:verdana;color:black;font-size:200%;text-align:center;">Healthcare Medicare Provider Fraud Detector</h1>

<marquee width="100%" direction="left" height="50px">
The United States has the most expensive healthcare system of any country, where those facilities largely operated by private sectors. Provider Fraud & Abuse play a vital role in increases of insurance premiums. Most providers try to work ethically, but there are some instances recorded where they involved in those activities.Medicare is the US Govt program that provides health care coverages if you are 65+, under 65 and with certain disabilities. Given Inpatient, Outpatient & Beneficiary details of providers, we built out the optimized ML Model to predict the potentially fraudulent providers. 
</marquee>

<div>
  <form action="/predict" method="POST">

    <label for="Provider">Provider</label>
    <input name="Provider" size="30" placeholder="PRV57425" required><br>
	<br>
    <label for="ClmDiagnosisCode_1">Diagnosis code1</label>
    <input name="ClmDiagnosisCode_1" size="30" value = "0"><br>
	<br>
    <label for="ClmDiagnosisCode_2">Diagnosis code2</label>
    <input name="ClmDiagnosisCode_2" size="30" value = "0"><br>
	<br>
    <label for="ClmDiagnosisCode_3">Diagnosis code3</label>
    <input name="ClmDiagnosisCode_3" size="30" value = "0"><br>
	<br>
    <label for="ClmDiagnosisCode_4">Diagnosis code4</label>
    <input name="ClmDiagnosisCode_4" size="30" value = "0"><br>
	<br>
    <label for="ClmDiagnosisCode_5">Diagnosis code5</label>
    <input name="ClmDiagnosisCode_5" size="30" value = "0"><br>
	<br>
    <label for="ClmDiagnosisCode_6">Diagnosis code6</label>
    <input name="ClmDiagnosisCode_6" size="30" value = "0"><br>
	<br>
    <label for="ClmDiagnosisCode_7">Diagnosis code7</label>
    <input name="ClmDiagnosisCode_7" size="30" value = "0"><br>
	<br>
    <label for="ClmDiagnosisCode_8">Diagnosis code8</label>
    <input name="ClmDiagnosisCode_8" size="30" value = "0"><br>
	<br>
    <label for="ClmDiagnosisCode_9">Diagnosis code9</label>
    <input name="ClmDiagnosisCode_9" size="30" value = "0"><br>
	<br>
    <label for="ClmDiagnosisCode_10">Diagnosis code10</label>
    <input name="ClmDiagnosisCode_10" size="30" value = "0"><br>
	<br>
    <label for="RenalDiseaseIndicator">Renal Disease Indicator</label>
    <select type="text" name="RenalDiseaseIndicator" required>
  	<option value="Y">Y</option>
  	<option value="0">0</option>
    </select>
	<br>
	<br>
    <label for="DOD">DOD</label>
    <input name="DOD" size="30" placeholder="0 or Date Format: DD-MM-YYYY " required><br>
	<br>
    <label for="DOB">DOB</label>
    <input name="DOB" size="30" placeholder="Date Format: DD-MM-YYYY " required><br>
	<br>
    <label for="Gender">Gender</label>
    <select type="text" name="Gender" required>
  	<option value="1">1</option>
  	<option value="2">2</option>
    </select>
	<br>
	<br>
    <label for="Race">Race</label>
    <select type="text" name="Race" required>
  	<option value="1">1</option>
  	<option value="2">2</option>
	<option value="3">3</option>
  	<option value="5">5</option>
    </select>
	<br>
	<br>
    <label for="State">State code</label>
    <input name="State" size="30" placeholder="1 to 50" required><br>
	<br>
    <label for="County">County code</label>
    <input name="County" size="30" placeholder="XXX - 2 or 3 digits" required><br>
	<br>
    <label for="ClaimStartDt">Claim Start date</label>
    <input name="ClaimStartDt" size="30" placeholder="Date Format: DD-MM-YYYY " required><br>
	<br>
    <label for="ClaimEndDt">Claim End date</label>
    <input name="ClaimEndDt" size="30" placeholder="Date Format: DD-MM-YYYY " required><br>
	<br>   
    <label for="ClmProcedureCode_1">Procedure code1</label>
    <input name="ClmProcedureCode_1" size="30" value = "0"><br>
	<br>
    <label for="ClmProcedureCode_2">Procedure code2</label>
    <input name="ClmProcedureCode_2" size="30" value = "0"><br>
	<br>
    <label for="ClmProcedureCode_3">Procedure code3</label>
    <input name="ClmProcedureCode_3" size="30" value = "0"><br>
	<br>
    <label for="ChronicCond_Alzheimer">Chronic Condition of Alzheimer</label>
    <select type="text" name="ChronicCond_Alzheimer" required>
  	<option value="1">1</option>
  	<option value="2">2</option>
    </select>
	<br>
	<br>
    <label for="ChronicCond_Heartfailure">Chronic Condition of Heart failure</label>
    <select type="text" name="ChronicCond_Heartfailure" required>
  	<option value="1">1</option>
  	<option value="2">2</option>
    </select>
	<br>
	<br>
    <label for="ChronicCond_KidneyDisease">Chronic Condition of Kidney Disease</label>
    <select type="text" name="ChronicCond_KidneyDisease" required>
  	<option value="1">1</option>
  	<option value="2">2</option>
    </select>
	<br>
	<br>
    <label for="ChronicCond_Cancer">Chronic Condition of Cancer</label>
    <select type="text" name="ChronicCond_Cancer" required>
  	<option value="1">1</option>
  	<option value="2">2</option>
    </select>
	<br>
	<br>
    <label for="ChronicCond_ObstrPulmonary">Chronic Condition of ObstrPulmonary</label>
    <select type="text" name="ChronicCond_ObstrPulmonary" required>
  	<option value="1">1</option>
  	<option value="2">2</option>
    </select>
	<br>
	<br>
    <label for="ChronicCond_Depression">Chronic Condition of Depression</label>
    <select type="text" name="ChronicCond_Depression" required>
  	<option value="1">1</option>
  	<option value="2">2</option>
    </select>
	<br>
	<br>
    <label for="ChronicCond_Diabetes">Chronic Condition of Diabetes</label>
    <select type="text" name="ChronicCond_Diabetes" required>
  	<option value="1">1</option>
  	<option value="2">2</option>
    </select>
	<br>
	<br>
    <label for="ChronicCond_IschemicHeart">Chronic Condition of Ischemic Heart</label>
    <select type="text" name="ChronicCond_IschemicHeart" required>
  	<option value="1">1</option>
  	<option value="2">2</option>
    </select>
	<br>
	<br>
    <label for="ChronicCond_Osteoporasis">Chronic Condition of Osteoporasis</label>
    <select type="text" name="ChronicCond_Osteoporasis" required>
  	<option value="1">1</option>
  	<option value="2">2</option>
    </select>
	<br>	
	<br>
    <label for="ChronicCond_rheumatoidarthritis">Chronic Condition of rheumatoidarthritis</label>
    <select type="text" name="ChronicCond_rheumatoidarthritis" required>
  	<option value="1">1</option>
  	<option value="2">2</option>
    </select>
	<br>
	<br>
    <label for="ChronicCond_stroke">Chronic Condition of stroke</label>
    <select type="text" name="ChronicCond_stroke" required>
  	<option value="1">1</option>
  	<option value="2">2</option>
    </select>
	<br>
	<br>
    <label for="AttendingPhysician">No of Attending Physician</label>
    <select type="text" name="AttendingPhysician" required>
  	<option value="0">0</option>
  	<option value="1">1</option>
    </select>
	<br>
	<br>
    <label for="OperatingPhysician">No of Operating Physician</label>
    <select type="text" name="OperatingPhysician" required>
  	<option value="0">0</option>
  	<option value="1">1</option>
    </select>
	<br>
	<br>
    <label for="OtherPhysician">No of Other Physician</label>
    <select type="text" name="OtherPhysician" required>
  	<option value="0">0</option>
  	<option value="1">1</option>
    </select>
	<br>
	<br>
    <label for="ClmAdmitDiagnosisCode">Claim Admit diagnosis code</label>
    <input name="ClmAdmitDiagnosisCode" size="30" value = "0"><br>
	<br>
    <label for="DiagnosisGroupCode">Diagnosis Group Code</label>
    <input name="DiagnosisGroupCode" size="30" value = "0"><br>
	<br>
    <label for="InscClaimAmtReimbursed">Reimbursed amount</label>
    <input name="InscClaimAmtReimbursed" size="30" value = "0" required><br>
	<br>
    <label for="DeductibleAmtPaid">Deductible amount</label>
    <input name="DeductibleAmtPaid" size="30" value = "0" ><br>
	<br>
    <label for="AnnualReimbursementAmt">Annual reimbursed amount</label>
    <input name="AnnualReimbursementAmt" size="30" value = "0" required><br>
	<br>
    <label for="AnnualDeductibleAmt">Annual Deductible amount</label>
    <input name="AnnualDeductibleAmt" size="30" value = "0" ><br><br>
    <br>
    <input type="submit" value="Submit" style="auto;">
  </form>
</div>

</body>
</html>
